$extra-white: #ffffff;
$extra-black: #000;
$black: #2c3e50;
$green: #42b983;


// res
$phoneWidth: 768px;
$tabletWidth: 960px;
$desktopWidth: 1366px;

// media
$phone: "max-width: " + ($phoneWidth - 1);
$tablet: "max-width: " + ($tabletWidth - 1);
$desktop: "max-width: " + ($desktopWidth - 1);
